*
{
	padding : 0px;
	margin : 0px;
}
/* Thuộc tính chung của phần body */
body
{
	width: 100%;
	margin: 0px auto;
}

a
{
	text-decoration: none;
}
/* Thuộc tính của thẻ top */
#top
{
	width: 100%;
	margin: auto;
	height:50px;
	background-color: blue; 
}
/* Thuộc tính của thẻ ul nằm trong thẻ top */
#top ul
{
	padding: 0px;
	list-style: none;
}
/* Thuộc tính của thẻ a nằm trong thẻ top */
#top ul a
{
	float: right;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 50px; 
	padding: 0px 30px 0px;
	text-align: center;	
}
/* Thuộc tính tạo hiệu ứng đổi màu khi click chuột */
#top ul a:hover
{
	background-color: #FF3333;
	transition: all 1s ease-in-out;
}
/* Thuộc tính thẻ container */
.container
{
	position: relative;
	z-index: 10;
}
/* Thuộc tính của biểu tượng có trong thẻ container */
#iconsearch
{
	background-color: blue;
	position: absolute;
	right: 110px;
	top: 0;
	color: white;
}
/* Thuộc tính của thẻ header */
#header
{
	height: 180px;
	width: 100%;
	text-align: center;
	display: block;
	margin:  0 auto;
}
/* * Thuộc tính của thẻ menu */ 
#menu
{
	background-color: blue;
}
.mn
{
	line-height:50px;
}
/* Thuộc tính của thẻ ul nằm trong thẻ menu */
#menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;  
}
/* Thuộc tính của thẻ a nằm trong thẻ menu */
#menu ul a
{
	float: left;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
/* Tạo hiệu ứng đổi màu khi chuột chỉ đến */
#menu ul a:hover
{
	background-color: #FF0033;
	transition: all 1s ease-in-out;

}
.mennubar
{
	border-right:  1px solid white; 
}
/* Thộc tính của thẻ slider chứa slide ảnh */
#slider
{
	margin: 0px auto;
	background: url('image/2.jpg') no-repeat;
	width: : 100%;
	height: 175px;
	margin: auto;

}
/* Thuộc tính cảu thẻ search */
#search
{
	height: 30px;
	width: 70%;
	background-color: white;
	border: none;
	display: inline-block;
	margin: 0px auto;
	outline-style: none;
}
/* Thuộc tính của icon hình kính lúp */
#iconsearch
{
	background-color: blue;
	position: absolute;
	right: 110px;
	top: 0;
	color: white;
}
/* Thuộc tính của các thẻ máy móc */
.maymoc
{
	width: 25%;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
/* Thuộc tính cảu các thẻ b */
.b
{
	width: 100%;
	height: 60%;
}
/* Thuộc tính của thẻ hotrotrongchot */
.hotrotrongtrot
{
	border-bottom-style: groove;
	border-width: 1px;
}
