*
{
	padding : 0;
	margin : 0;
}
body
{
	font-family: sans-serif;
	color: #333;
}
.wrap
{
	width: 100%;
}
.top
{
	width: 100%;
	margin: auto;
	height:30px;
	background-color: blue; 
}
.top ul
{
	padding: 0px;
	list-style: none;
}
.top ul a
{
	float: right;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 30px; 
	padding: 0px 30px 0px;
	text-align: center;
}
.top ul a:hover
{
	background-color: gray;
}
.imgheader
{
	width: 100%;
	height: 300%;
}
.menu
{
	width: 100%;
	margin: auto;
	height:50px;
	background-color: blue; 
}
.menu ul
{
	padding: 0px;
	list-style: none;
}
.menu ul a
{
	float: left;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 50px; 
	padding: 0px 30px 0px;
	text-align: center;
}
.menu ul a:hover
{
	background-color: gray;
}
.container
{
	width: 40%;
	float: right;
	padding-right: 60px;
	padding-top: 10px;
}
.search
{
	width: 100%;
	height: 30px;
	background: white;
	border: none;
	float: left;
	color: black;
	padding-left: 30px;
	font-size: 10pt;
}
.content1
{
	width: 100%;
	height: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	position: relative;
}
.content11
{
	width: 30%;
	height: 300px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-top: 20px;
	padding-left: 40px;
	border-right: 2px solid gray;
}
.content12
{
	box-sizing: border-box;
	width: 30%;
	height: 300px;
	background: white;
	display: inline-block;
	padding-top: 5px;
	padding-left: 5px;
	color: white;
	border-right: 2px solid gray;
	position: absolute;
}
.content13
{
	width:90%;
	height: 30%;
	background: white;
	margin-bottom: 10px;
	border: 1px solid gray;
	box-sizing: border-box;

}
.content14
{
	width: 30%;
	height: 300px;
	float: right;
	margin-right: 134px;
	padding-top: 5px;
	padding-left: 5px;
	box-sizing: border-box;
}
.text
{
	margin-top: 20px;
	margin-right: 50px;
	float: right;
	width: 40%;
	color: black;
	text-align: center;
}
.imgcontent13
{
	float: left;
	width: 30%;
	height: 100%;
}
.imgcontent1
{
	width: 90%;
	height: 90%;
}
.bottom
{
	position: absolute;
	bottom: 120px;
	left: 70px;
	font-size: 60px;
	color: white;
}
.content2
{
	width: 100%;
	height: 300px;
 	margin-top: 3px;
}
.content21
{
	width: 30%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-top: 20px;
	padding-left: 40px;
	border-right: 2px solid gray;
}
.imgcontent2
{
	width: 90%;
	height: 90%;
}
.content22
{
	box-sizing: border-box;
	width: 30%;
	height: 300px;
	background: white;
	display: inline-block;
	padding-top: 5px;
	padding-left: 5px;
	color: white;
	position: absolute;
	border-right: 2px solid gray;
}
.content23
{
	width: 30%;
	height: 300px;
	float: right;
	margin-right: 134px;
	padding-top: 5px;
	padding-left: 5px;
	color: white;
	box-sizing: border-box;
}
.footer
{
	border-top: 5px solid white;
	width: 100%;
	height: 100px;
	background: blue;
}
.footer1
{
	width: 30%;
	height: 100%;
	float: right;
	padding: 30px;
	color: white;
	text-align: center;
}
