* 
{
	padding : 0px;
	margin : 0px;
}
body
{
width: 1236px;
font-family: 18px;
font-family: tahoma;
margin: 0px auto;
}
#top
		{
			width: 1234px;
			margin: auto;
			height:30px;
			background-color: blue; 
			border: 2px solid black;
		}
		#top ul
		{
			padding: 0px;
			list-style: none;
		}
		#top ul a
		{
			float: right;
			text-decoration: none;
			color: white;
			display: block;
			line-height: 30px; 
			padding: 0px 30px 0px;
			text-align: center;
		}
		#top ul a:hover
		{
			background-color: gray;
		}

		#header
		{
			background: url('../BTL-CNWeb/1.JPG') no-repeat;
			width: : 1236px;
			height: 180px;
			display: block;
			
		}

		#menu
		{
			width: 1232px;
			height: 30px;
			margin: auto;
			background-color: blue;
			border: 2px solid black;
		}
		#menu ul
		{
			margin: 0px;
			padding: 0px;
			list-style: none;  
		}
		#menu ul a
		{
			float: left;
			text-decoration: none;
			color: white;
			line-height: 30px;
			display: block;
			padding: 0px 30px 0px 30px;
			text-align: center;
		}
		#menu ul a:hover
		{
			background-color: gray;
		}
		.content1
		{
			float: left;
			border-right: 1px solid black;
			border-left: 1px solid black;
			height: 2070px;
			width: 800px;
			margin: auto;
			display: block;
		}
		.content11
		{
			margin: auto;
			width: 90%;
			height: 90%%;
			margin-top: 40px;
		}
		#content12
		{
			border-top: 2px solid black;
			width: 100%;
			height: 200px;
		}
		#content13
		{
			width: 100%;
			height: 200px;
		}
		#content14
		{
			width: 100%;
			height: 200px;
		}
		#content15
		{
			width: 100%;
			height: 200px;
		}
		#content16
		{
			width: 100%;
			height: 200px;
		}
		#content17
		{
			width: 100%;
			height: 200px;
		}
		.content18
		{
			margin: auto;
			width: 90%;
			height: 90%%;
			margin-top: 10px;
		}
		#content19
		{
			border-top: 2px solid black;
			width: 100%;
			height: 200px;
		}
		#content20
		{
			width: 100%;
			height: 200px;
		}
		#content21
		{
			width: 100%;
			height: 200px;
		}
		.content2
		{
			float: left;
			height: 600px;
			width: 433px;
			margin: auto;
			display: block;
			border-right: 1px solid black;
		}
		.content21
		{
			margin: auto;
			width: 90%;
			height: 90%%;
			margin-top: 40px;
		}
		#content22
		{
			border-top: 2px solid black;
			width: 100%;
			height: 150px;
		}
		#content23
		{
			width: 100%;
			height: 150px;
		}
		#content24
		{
			width: 100%;
			height: 150px;
		}
		.footer
		{
			margin: auto;
			width: 1232px;
			height: 100px;
			background-color: blue;
			border: 2px solid black;
			text-align: right;
			float: left;
			color: white;
		}
