*
{
	padding : 0px;
	margin : 0px;
}
/* Thuoc tinh chung cua phan body*/
body
{
	margin: 0px auto;
	width: 100%;
}

a
{
	text-decoration: none;
	color: black;
}
/* Thuộc tính của thẻ top */
#top
{
	height:50px;
	background-color: blue; 
}
/* Thuộc tính của thẻ ul trong thẻ top */
#top ul
{
	clear: both;
	padding: 0px;
	margin: 0;
	list-style: none;
}
/* Thuộc tính thẻ a nằm trong thẻ top */
#top ul a
{
	float: right;
	text-decoration: none;
	color: white;
	padding: 0px 30px 0px;
	text-align: center;	
}
/* Tạo hiệu ứng đổi màu khi chuột chỉ đến */
#top ul a:hover
{
	background-color: #FF3333;
	transition: all 1s ease-in-out;
}
/* Thuộc tính thẻ container */
.container
{
	position: relative;
	z-index: 10;
}
/* Thuộc tính của biểu tượng có trong thẻ container */
#iconsearch
{
	background-color: blue;
	position: absolute;
	right: 110px;
	top: 0;
	color: white;
}
/* Thuộc tính của thẻ header */
#header
{
	width: 100%;
	height: 180px;
	display: block;
	margin: 0px auto;
	text-align: center;
}

/* Thuộc tính của thẻ menu */
#menu
{
	background-color: blue;
}
.mn
{
	line-height:50px;
}
#menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;  
}
#menu ul a
{
	float: left;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
/* Tạo hiệu ứng đổi màu khi chuột chỉ đến */
#menu ul a:hover
{
	background-color: #FF0033;
	transition: all 1s ease-in-out;
}
.mennubar
{
	border-right:  1px solid white; 
}
/* Thộc tính của thẻ slider chứa slide ảnh */
#slider{
	width: 100%;
	height: 80vh;
	margin: 0px auto;
	position: relative;
	border: 1px solid black;
	margin-bottom: 10px;
}

/* Thuộc tính thẻ content1 */
#content1	
{
	margin:auto;
	padding-left: 5px;
	width: 80%;
	height: 300px;
	border-right: groove;
	box-sizing: border-box;
	display: inline-block;
	background-image: url('../BaiTapLon/image/bg.jpg');
	text-decoration-color: white;
}
#content1 ul
{
	margin: auto;
	padding-left: 10px;
	list-style-type: none;
}

#content1 ul a
{
	margin: 10px;
	list-style-position: inside; 
	color: black;
	line-height: 30px;
	display: block;
	text-align: left;
}
/* Thuộc tính thẻ content1 */
#content2
{
	margin: auto;
	padding-left: 10px;
	width: 80%;
	height: 300px;
	border-right: groove;
	border-width:2px;
	box-sizing: border-box;
	display: inline-block;
	background-image: url('../BaiTapLon/image/bg.jpg');
	text-decoration-color: white;
	vertical-align: top;
}
#content2 ul
{
	margin: auto;
	padding-left: 10px;
}
#content2 ul a
{
	margin: 10px;
	list-style-position: inside; 
	color: black;
	line-height: 30px;
	display: block;
	text-align: left;
}
/* Thuộc tính thẻ content1 */
#content3
{
	margin: auto;
	padding-left: 10px;
	width: 80%;
	height: 300px;
	border-right: groove;
	border-width:2px;
	box-sizing: border-box;
	display: inline-block;
	background-image: url('../BaiTapLon/image/bg.jpg');
	text-decoration-color: white;
}
#content3 ul
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	display: block;
	text-align: left;
	list-style-type: none;
}
#content3 ul a
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	text-align: center;
	color: black;
}
/* Thuộc tính của thẻ có chứa link về thời tiết */
#weather
{
	margin: auto;
	height: 300px;
	width: 20%;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
}
/* Thuộc tính thẻ ul nằm trong thẻ weather */
#weather ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/* Thuộc tính của thẻ chứa video youtube */
#youtube
{
	margin:auto;
	height: 300px;
	width: 20%;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
}
/* Thuộc tính thẻ ul nằm trong thẻ youtube */
#youtube ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/* Thuộc tính thẻ a nằm trong thẻ youtube */
#youtube ul a
{
	color: black;
	line-height: 30px;
	display: block;
	text-align: center;
}
/* Thuộc tính của thẻ chứa link diễn đàn */
#diendan
{
	margin: auto;
	height: 300px;
	width: 20%;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
}
/* Thuộc tính của thẻ ul trong thẻ link diễn đàn */
#diendan ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/* Thuộc tính của thẻ a trong thẻ link diễn đàn */
#diendan ul a
{
	text-decoration: none;
	color: black;
	line-height: 30px;
	display: block;
	text-align: center;
}
/* Thuộc tính chung của các ảnh trong các thẻ div lớn */
#width1
{
	width: 22.5%;
	display: inline-block;
	padding: 0px 13px;
}
/* Thuộc tính chung của các ảnh trong các thẻ div lớn */
#width2
{
	width: 22.5%;
	display: inline-block;
	padding: 0px 50px;
	vertical-align: top;
}


