*
{
	padding : 0;
	margin : 0;
}
body
{
	width: 100%;
	margin: 0px auto;}

}
*
{
	padding : 0px;
	margin : 0px;
}
body
{
	width: 100%;
	margin: 0px auto;
}

a
{
	text-decoration: none;
}
#top
{
	width: 100%;
	margin: auto;
	height:50px;
	background-color: blue; 
}
#top ul
{
	padding: 0px;
	list-style: none;
}
#top ul a
{
	float: right;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 50px; 
	padding: 0px 30px 0px;
	text-align: center;	
}
#top ul a:hover
{
	background-color: gray;
}

.container
{
	position: relative;
	z-index: 10;
}
#iconsearch
{
	background-color: blue;
	position: absolute;
	right: 110px;
	top: 0;
	color: white;
}
#header
{
	width: 100%;
	height: 180px;
	display: block;
	margin: 0px auto;
	text-align: center;
}


#menu
{
	background-color: blue;
}
.mn
{
	line-height:50px;
}
#menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;  
}
#menu ul a
{
	float: left;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
#menu ul a:hover
{
	background-color: gray;
}
.mennubar
{
	border-right:  1px solid white; 
}
.container
{
	position: relative;
	z-index: 10;
}

#search
{
	height: 30px;
	width: 70%;
	background-color: white;
	border: none;
	display: inline-block;
	margin: 0px auto;
	outline-style: none;
}
.content1
{
	width: 25%;
	height: 250px;
	position: relative;
	border: 10px solid white;
	box-sizing: border-box;
	background: white;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}
.imgcontent
{
	width: 100%;
	height: 100%;
}
.list-img
{
	width: 90%;
	margin:0px auto;
	height: 40vh
}
.bottom1
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 18px;
	width: 100%;
	height: 20%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5)
}
.list-price
{
	width: 90%;
	height: 300px;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 10px 10px;
}
.list-price1
{
	position: relative;
	width: 40%;
	height: 280px;
	box-sizing: border-box;
	border: 1px solid gray;
	display: inline-block;
}
.title1
{
	width: 19.2%;
	height: 280px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid gray;
	position: relative;
}
.imgtitle
{
	width: 100%;
	height: 100%;
}
.list-price2
{
	position: relative;
	width: 40%;
	height: 280px;
	box-sizing: border-box;
	border: 1px solid gray;
	display: inline-block;
}
.bottom2
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 30px;
	width: 100%;
	height: 20%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5)
}
.footer
{
	border-top: 5px solid white;
	width: 100%;
	height: 100px;
	background: blue;
}
.footer1
{
	width: 30%;
	height: 100%;
	float: right;
	padding: 30px;
	color: white;
	text-align: center;
}
