*
{
	padding : 0;
	margin : 0;
}
/* Thuộc tính chung của phần body */
body
{
	width: 100%;
	margin: 0px auto;
}
a
{
	text-decoration: none;
}
/* Thuộc tính của thẻ header */
#header
{
	width: 100%;
	height: 180px;
	display: block;
	margin: 0px auto;
	text-align: center;
}
/* Thuộc tính thẻ content1 */
.content1
{
	width: 40%;
	height: 300px;
	background: white;
	border-left: 5px solid white;
	border-right: 2px solid gray;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}
/* Thuộc tính của ảnh trong content1 */
.imgcontent1
{
	width: 98%;
	height: 100%;
}
/* Thuộc tính của các thẻ bottm */
.bottom
{
	position: absolute;
	bottom: 10px;
	right: 16px;
	font-size: 30px;
}
/* Thuộc tính thẻ content2 */
.content2
{
	box-sizing: border-box;
	width: 30%;
	height: 300px;
	background: white;
	display: inline-block;
	padding-top: 5px;
	padding-left: 5px;
	color: white;
	border-right: 2px solid gray;
}
/* Thuộc tính của các thẻ content21 nằm trong content2 */
.content21
{
	width:90%;
	height: 30%;
	border-top: 1px solid gray;
	background: white;
	margin-bottom: 10px;
}
/* Thuộc tính của ảnh trong content21 */
.imgcontent21
{
	width: 30%;
	height: 100%;
	float: left;
}
/* thuộc tính của thẻ p */
.p
{
	text-align: center;
	float: left;
	color: black;
}
/* Thuộc tính của thẻ content3 */
.content3
{
	width: 29%;
	height: 300px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}
/* Thuộc tính của ảnh nằm trong content3 */
.imgcontent3
{
	width: 100%;
	height: 100%;
}
/* Thuộc tính của thẻ bottom1 */
.bottom1
{
	position: absolute;
	bottom: 10px;
	right: 16px;
	font-size: 30px;
}
/* Thuộc tính của thẻ content4 */
.content4
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	border-right: 2px solid gray;
	padding-right: 30px;
}
/* Thuộc tính của thẻ content5 */
.content5
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-right: 30px;
}
/* Thuộc tính của thẻ content6 */
.content6
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	border-right: 2px solid gray;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-right: 30px;
}
/* Thuộc tính của thẻ content7 */
.content7
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-right: 30px;
}
 /* Thuộc tính của các ảnh nằm trong các contetnt4 5 6 7 */
.imgcontent4567
{
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
}
/* Thuộc tính của thẻ text */
.text
{
	margin-top: 20px;
	float: right;
	width: 40%;
	color: black;
	text-align: center;
}


