*
{
	padding : 0;
	margin : 0;
}
body
{
	width: 100%;
	margin: 0px auto;
}
a
{
	text-decoration: none;
}


#header
{
	width: 100%;
	height: 180px;
	display: block;
	margin: 0px auto;
	text-align: center;
}

.content1
{
	width: 40%;
	height: 300px;
	background: white;
	border-left: 5px solid white;
	border-right: 2px solid gray;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}
.imgcontent1
{
	width: 98%;
	height: 100%;
}
.bottom
{
	position: absolute;
	bottom: 10px;
	right: 16px;
	font-size: 30px;
}
.content2
{
	box-sizing: border-box;
	width: 30%;
	height: 300px;
	background: white;
	display: inline-block;
	padding-top: 5px;
	padding-left: 5px;
	color: white;
	border-right: 2px solid gray;
}
.content21
{
	width:90%;
	height: 30%;
	border-top: 1px solid gray;
	background: white;
	margin-bottom: 10px;
}
.imgcontent21
{
	width: 30%;
	height: 100%;
	float: left;
}
.p
{
	text-align: center;
	float: left;
	color: black;
}
.content3
{
	width: 29%;
	height: 300px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}
.imgcontent3
{
	width: 100%;
	height: 100%;
}
.bottom1
{
	position: absolute;
	bottom: 10px;
	right: 16px;
	font-size: 30px;
}
.content4
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	border-right: 2px solid gray;
	padding-right: 30px;
}
.content5
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-right: 30px;
}
.content6
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	border-right: 2px solid gray;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-right: 30px;
}
.content7
{
	width: 49%;
	height: 200px;
	background: white;
	border-left: 5px solid white;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-right: 30px;
}
.imgcontent4567
{
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
}
.text
{
	margin-top: 20px;
	float: right;
	width: 40%;
	color: black;
	text-align: center;
}


