* 
{
	padding : 0px;
	margin : 0px;
}
body
{
width: 1236px;
font-family: 18px;
font-family: tahoma;
margin: 0px auto;
}
#top
		{
			width: 1234px;
			margin: auto;
			height:30px;
			background-color: blue; 
			border: 2px solid black;
		}
		#top ul
		{
			padding: 0px;
			list-style: none;
		}
		#top ul a
		{
			float: right;
			text-decoration: none;
			color: white;
			display: block;
			line-height: 30px; 
			padding: 0px 30px 0px;
			text-align: center;
		}
		#top ul a:hover
		{
			background-color: gray;
		}

		#header
		{
			background: url('../BTL-CNWeb/1.JPG') no-repeat;
			width: : 1236px;
			height: 180px;
			display: block;
			
		}

		#menu
		{
			width: 1232px;
			height: 30px;
			margin: auto;
			background-color: blue;
			border: 2px solid black;
		}
		#menu ul
		{
			margin: 0px;
			padding: 0px;
			list-style: none;  
		}
		#menu ul a
		{
			float: left;
			text-decoration: none;
			color: white;
			line-height: 30px;
			display: block;
			padding: 0px 30px 0px 30px;
			text-align: center;
		}
		#menu ul a:hover
		{
			background-color: gray;
		}

		#content1
		{
			margin: auto;
			width: 1232px;
			height: 300px;
			background-color: white;
			float: left;
			border: 2px solid black;
			
		}

		#content2
		{
			margin: auto;
			width: 1232px;
			height: 300px;
			background-color: white;
			float: left;
			border: 2px solid black;
			
		}

		#content3
		{
			margin: auto;
			width: 1232px;
			height: 300px;
			background-color: white;
			float: left;
			border: 2px solid black;
			
		}

		#content4
		{
			margin: auto;
			width: 1232px;
			height: 300px;
			background-color: white;
			float: left;
			border: 2px solid black;
			
		}

		#content5
		{
			margin: auto;
			width: 1232px;
			height: 100px;
			background-color: blue;
			float: left;
			border: 2px solid black;
			text-align: right;
			color: white;
		}
