*
{
	padding : 0px;
	margin : 0px;
}
/* Thuộc tính chung của phần body web */
body
{
	width: 100%;
	margin: 0px auto;
}
/* Thuộc tính của phần top */
#top
{
	width: 100%;
	margin: auto;
	height:50px;
	background-color: blue; 
}
/* Thuộc tính của thẻ ul trong phần top */
#top ul
{
	padding: 0px;
	list-style: none;
}
/* Thuộc tính của thẻ a trong phần top */
#top ul a
{
	float: right;
	text-decoration: none;
	color: white;
	display: inline-block;
	line-height: 50px; 
	padding: 0px 30px 0px;
	text-align: center;	
}
/* Thuộc tính đổi màu hiệu ứng kích chuột vào các thẻ a */
#top ul a:hover
{
	background-color: #FF3333;
	transition: all 1s ease-in-out;
}
/* Thuộc tính của thẻ container chứa ô tìm kiếm */
.container
{
	position: relative;
	z-index: 10;
}
/* Thuộc tính của icon search */
#iconsearch
{
	background-color: blue;
	position: absolute;
	right: 110px;
	top: 0;
	color: white;
}
/* Thuộc tính của phần header chứa banner của web */
#header
{
	width: 100%;
	height: 180px;
	display: block;
	margin: 0px auto;
	text-align: center;
}
/* Thuộc tính cảu phần menu */
#menu
{
	background-color: blue;
}
/* Thuộc tính của thẻ ul nằm trong menu */
.mn
{
	line-height:50px;
}
#menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;  
}
/* Thuộc tính của thẻ a nằm trong menu */
#menu ul a
{
	float: left;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
/* Thuộc tính đổi màu hiệu ứng kích chuột vào các thẻ a */
#menu ul a:hover
{
	background-color: #FF0033;
	transition: all 1s ease-in-out;
}
/* .mennubar
{
	border-right:  1px solid white; 
} */
/* Thuộc tính của thẻ search chứa ô tìm kiếm */
#search
{
	height: 30px;
	width: 70%;
	background-color: white;
	border: none;
	display: inline-block;
	margin: 0px auto;
	outline-style: none;
}