*
{
padding : 0px;
margin : 0px;
}
body
{
width: 1236px;
font-family: tahoma;
margin: 0px auto;
}
a
{
	text-decoration: none;
}
#top
{
	width: 1236px;
	margin: auto;
	height:30px;
	background-color: blue; 
}
#top ul
{
	padding: 0px;
	list-style: none;
}
#top ul a
{
	float: right;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 30px; 
	padding: 0px 30px 0px;
	text-align: center;
}
#top ul a:hover
{
	background-color: gray;
}


#header
{
	background: url('../BTL-CNWeb/1.JPG') no-repeat;
	width: : 1236px;
	height: 180px;
	display: block;
}


#menu
{
	background-color: blue;
}
.mn
{
	line-height:50px;
}
#menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;  
}
#menu ul a
{
	float: left;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
#menu ul a:hover
{
	background-color: gray;
}


#slider
{
	margin: 0px auto;
	background: url('../BTL-CNWeb/2.JPG') no-repeat;
	width: : 1236px;
	height: 175px;
	margin: auto;
	margin-bottom: 10px;

}

#content1	
{
	margin: auto;
	padding-left: 10px;
	width: 986px;
	height: 300px;
	float: left;
	border-style: groove;
	border-width:2px;
	margin-bottom: 10px;
}
#content1 ul
{
	margin: auto;
	padding-left: 10px;
}
#content1 ul a
{
	margin: 10px;
	list-style-position: inside; 
	color: black;
	line-height: 30px;
	display: block;
	text-align: left;
}



#content2
{
	margin: auto;
	padding-left: 10px;
	width: 986px;
	height: 300px;
	float: left;
	border-style: groove;
	border-width:2px;
	margin-bottom: 10px;
}
#content2 ul
{
	margin: 10px;
	list-style-position: inside; 
	color: black;
	line-height: 30px;
	display: block;
	text-align: left;
}
#content2 ul a
{
	margin: 10px;
	list-style-position: inside; 
	color: black;
	line-height: 30px;
	display: block;
	text-align: left;
}

#content3
{
	margin: auto;
	padding-left: 10px;
	width: 986px;
	height: 300px;
	float: left;
	border-style: groove;
	border-width:2px;
	margin-bottom: 10px;
}
#content3 ul
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	display: block;
	text-align: left;
}
#content3 ul a
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	text-align: left;
}
#weather
{
	margin: auto;
	height: 300px;
	width: 225px;
	float:right;
	border-style: groove;
	border-width: 2px;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 5px;
}
#weather ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#footer	
{
	margin: auto;
	padding: 0px;
	width: 1232px;
	height: 60px;
	float: left;
	border-style: groove;
	border-width: 2px;
}
#footer ul
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	display: block;
	text-align: right;
}

#youtube
{
	margin: auto;
	height: 300px;
	width: 225px;
	float:right;
	border-width: 2px;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 5px;
	border-style: groove;
}
#youtube ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color: pink;
}
#youtube ul a
{
	float: left;
	text-decoration: border;
	color: black;
	line-height: 30px;
	display: block;
	text-align: center;
}
#diendan
{
	margin: auto;
	height: 300px;
	width: 225px;
	float:right;
	border-style: groove;
	border-width: 2px;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 5px;
}
#diendan ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#diendan ul a
{
	float: left;
	color: black;
	line-height: 30px;
	display: block;
	text-align: center;
}

#width1
{
	width: 246px;
}
#width2
{
	width: 328px;
}
#search
{
	height: 30px;
	width: 70%;
	background-color: white;
	border: none;
	display: inline-block;
	margin: 0px auto;
	outline-style: none;
}