*
{
	padding : 0px;
	margin : 0px;
}
body
{
<<<<<<< HEAD

	width: 1236px;
	font-family: tahoma;
	margin: 0px auto;
	width:100%;
=======
	width: 100%;
>>>>>>> 67b3db381868d570987d8b3c69c74b65bf383ded
	margin: 0px auto;
}

a
{
	text-decoration: none;
}
#top
{
	width: 100%;
	margin: auto;
	height:50px;
	background-color: blue; 
}
#top ul
{
	padding: 0px;
	list-style: none;
}
#top ul a
{
	float: right;
	text-decoration: none;
	color: white;
	display: block;
	line-height: 50px; 
	padding: 0px 30px 0px;
	text-align: center;
	border-right: 1px solid white;
}
#top ul a:hover
{
	background-color: gray;
}

.container
{
	position: relative;
	z-index: 10;
}
#iconsearch
{
	background-color: blue;
	position: absolute;
	right: 110px;
	top: 0;
	color: white;
}
#header
{
	background: url('../BTL-CNWeb/1.JPG') no-repeat;
	width: : 100%;
	height: 180px;
	display: block;
	margin: 0px auto;
}


#menu
{
	background-color: blue;
}
.mn
{
	line-height:50px;
}
#menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;  
}
#menu ul a
{
	float: left;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 30px 0px 30px;
	text-align: center;
}
#menu ul a:hover
{
	background-color: gray;
}
.mennubar
{
	border-right:  1px solid white; 
}

#slider
{
	margin: 0px auto;
	background: url('image/2.jpg') no-repeat;
	width: : 100%;
	height: 175px;
	margin: auto;
	margin-bottom: 10px;

}

#content1	
{
	margin:auto;
	padding-left: 5px;
	width: 80%;
	height: 300px;
	border-bottom: groove;
	border-right: groove;
	border-width:2px;
	margin-bottom: 10px;
	box-sizing: border-box;
	display: inline-block;
}
#content1 ul
{
	margin: auto;
	padding-left: 10px;
}
#content1 ul a
{
	margin: 10px;
	list-style-position: inside; 
	color: black;
	line-height: 30px;
	display: block;
	text-align: left;
}
#content2
{
	margin: auto;
	padding-left: 10px;
	width: 80%;
	height: 300px;
	border-bottom: groove;
	border-right: groove;
	border-width:2px;
	margin-bottom: 10px;
	box-sizing: border-box;
	display: inline-block;
}
#content2 ul
{
	margin: auto;
	padding-left: 10px;
}
#content2 ul a
{
	margin: 10px;
	list-style-position: inside; 
	color: black;
	line-height: 30px;
	display: block;
	text-align: left;
}

#content3
{
	margin: auto;
	padding-left: 10px;
	width: 80%;
	height: 300px;
	border-bottom: groove;
	border-right: groove;
	border-width:2px;
	margin-bottom: 10px;
	box-sizing: border-box;
	display: inline-block;
}
#content3 ul
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	display: block;
	text-align: left;
}
#content3 ul a
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	text-align: center;
}
#weather
{
	margin: auto;
	height: 300px;
	width: 20%;
	text-align: center;
	margin-bottom: 10px;
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
}
#weather ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#footer	
{
	margin: auto;
	padding: 0px;
	width: 100%;
	height: 60px;
	display: inline-block;
	border-style: groove;
	border-width: 2px;
	box-sizing: border-box;
}
#footer ul
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	display: block;
	text-align: right;
}

#youtube
{
	margin:auto;
	height: 300px;
	width: 20%;
	text-align: center;
	margin-bottom: 10px;
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
}
#youtube ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#youtube ul a
{
	color: black;
	line-height: 30px;
	display: block;
	text-align: center;
}
#diendan
{
	margin: auto;
	height: 300px;
	width: 20%;
	text-align: center;
	margin-bottom: 10px;
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
}
#diendan ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#diendan ul a
{
	text-decoration: none;
	color: black;
	line-height: 30px;
	display: block;
	text-align: center;
}

#width1
{
	width: 22.5%;
	display: inline-block;
	padding: 15px 12px;
}
#width2
{
	width: 22.5%;
	display: inline-block;
	padding: 20px 50px;
}
#search
{
	height: 30px;
	width: 70%;
	background-color: white;
	border: none;
	display: inline-block;
	margin: 0px auto;
	outline-style: none;
}