/* Thuộc tính chung của thẻ footer */
#footer	
{
	margin: auto;
	padding: 0px;
	width: 100%;
	height: 60px;
	display: inline-block;
	border-style: groove;
	border-width: 2px;
	box-sizing: border-box;
}
/* Thuộc tính chung của thẻ ul nằm trong thẻ footer */
#footer ul
{
	margin: auto;
	list-style-position: inside; 
	color: blue;
	line-height: 30px;
	display: block;
	text-align: right;
}
