*
{
	padding : 0px;
	margin : 0px;
}
/* Thuoc tinh chung cua phan body*/
body
{
	width: 100%;
	margin: 0px auto;
}

a
{
	text-decoration: none;
}
#content
{
	width: 100%;
}

/* Thuộc tính của thẻ content1 */
.content1
{
	width: 24.7%;
	height: 250px;
	position: relative;
	background: white;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	border-bottom: 10px solid white;
	border-right: 5px solid white;
}
.a1
{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}
/* Thuộc tính của ảnh nằm trong content */
.imgcontent
{
	width: 100%;
	height: 100%;
}
/* Thuộc tính của ảnh nằm trong content */
.list-img
{
	width: 90%;
	margin:0px auto;
}
/* Thuộc tính của các thẻ bottom1 */
.bottom1
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 18px;
	width: 100%;
	height: 20%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5)
}
/* Thuộc tính của thẻ list-price */
.list-price
{
	width: 90%;
	height: 300px;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 10px 10px;
}
/* Thuộc tính của thẻ list-price1 */
.list-price1
{
	position: relative;
	width: 40%;
	height: 280px;
	box-sizing: border-box;
	border: 1px solid gray;
	display: inline-block;
}
/* Thuộc tính của thẻ title */
.title1
{
	width: 19.2%;
	height: 280px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid gray;
	position: relative;
}
/* Thuộc tính của ảnh trong thẻ title */
.imgtitle
{
	width: 100%;
	height: 100%;
}
/* Thuộc tính của thẻ list-price2 */
.list-price2
{
	position: relative;
	width: 40%;
	height: 280px;
	box-sizing: border-box;
	border: 1px solid gray;
	display: inline-block;
}
/* Thuộc tính của các thẻ bottom2 */
.bottom2
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 30px;
	width: 100%;
	height: 20%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5)
}

